<div class="confirmation-card mt-4 p-4 rounded-2xl shadow">
    <h4 class="mb-3" style="color: var(--bs-link-hover-color);">Бронювання підтверджено!</h4>
    <p class="mb-3">Дякуємо! Ваше бронювання збережено.</p>
    <a asp-controller="Schedules" asp-action="Index" class="btn mt-2">Повернутись до розкладу</a>
</div>
